# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# IDE-specific caches
.vscode/

# Virtual environments
.venv/
venv/
venv-main/
venv-aux/
env/
# Environments created by 'pipenv'
.direnv/
pip-log.txt

# Package directories
*.egg-info/
.eggs/

# 2. Operating System and Editor Files
.DS_Store
Thumbs.db
*.swp
*~

# 3. Docker and Container Artifacts
.env

# 4. Terraform Files
*.tfstate
*.tfstate.*
.terraform/
.terraform.lock.hcl 
*.tfvars
terraform.tfvars
*.auto.tfvars
*~